*.pyc
*.egg-info/
__pycache__/
.DS_Store
.vscode/
.egg-info/
/node_modules
/pip-wheel-metadata
.coverage
pip-selfcheck.json
pyvenv.cfg
.idea/
.venv/
dist/
staticfiles/
media/
.pytest_cache
db.sqlite3
